<div class="row h-100 position-relative justify-content-md-center parent-card">
    <div class="col-md-8 welcome-card">
        <div class="row justify-content-md-center mb-4">
            <h1>Welcome {{ introCtrl.testData.userName }} !</h1>
        </div>
        <div class="row justify-content-md-center mb-4">
            <p class="col-md-8 text-center">Get ready for Mindit Rocket Test!
                Your journey time limit is 2 hours. Enjoy!</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block start-button" ng-click="introCtrl.nextPage()">BEGIN TEST</button>
            </div>
        </div>
    </div>
</div>