<div class="row h-100 position-relative justify-content-md-center parent-card">
    <div class="col-md-8 welcome-card">
        <div class="row justify-content-md-center mb-4">
            <h1>Welcome {{ introCtrl.data.userName }} !</h1>
        </div>
        <div class="row justify-content-md-center mb-4">
            <p class="col-md-8 text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam id mollis orci,
                ut bibendum enim. Nunc ac massa quis lorem commodo ultrices. Nulla ultrices accumsan leo et sagittis.
                Donec aliquam, tellus id luctus dictum, massa neque faucibus felis, id iaculis tortor ante id velit.
                Cras egestas cursus dui, vel fermentum mauris dapibus sed.</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-md-4">
                <button type="button" class="btn btn-primary btn-block start-button">BEGIN TEST</button>
            </div>
        </div>
    </div>
</div>