html,body {
  height: 100%;
}

.trp-container .start-button {
    background-color: #b93925;
    border-color: #b93925;
}

.trp-container .start-button:active {
    background-color: #E04028;
    border-color: #E04028;
}

.trp-container .start-button:hover {
    background-color: #E04028;
    border-color: #E04028;
}

.trp-container .parent-card {
    background: url('../images/background-space.png') no-repeat center center fixed;
    background-size: cover;

}

.trp-container .welcome-card {
    background-color: white;
    position: absolute;
    padding: 90px 15px;
    top: 20%;
    border-radius: 5px;
}

.trp-container .welcome-card .row:nth-child(1), .trp-container .welcome-card .row:nth-child(2) {
    color: #565656
}

.trp-container .status-card {
    background-color: white;
    position: absolute;
    padding: 30px 15px 0 15px;
    top: 20%;
    border-radius: 5px;
}

.trp-container .status-card .row:nth-child(1), .trp-container .status-card .row:nth-child(2) {
    color: #565656
}

.login-rocket {
    background: url('../images/rocket.png') no-repeat 0 0;
    width: 50em;
    height:10em;
    display: block;
    transform: rotate(-40deg);
    position: fixed;
    margin-top: -10%;
    z-index: 0;
}

.login-page {
    text-align:center;
    background: url('../images/background-space.png') no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    margin-left: -2%;
    margin-right: -2%;
}

.login-page h4 {
    color: white;
    font-size: 3em;
    padding-top: 5%;
}

.login-page .login-form {
    width: 100%;
    display: block;
    position: absolute;
    top: 57%;
    transform: translateY(50%);
    padding-left: 2.5em;
}

.login-form input {
    display: block;
    margin: auto;
    text-align: center;
    z-index: 10;
}

.input-code {
    width: 12%;
}

.viewRouter {
    overflow-x: hidden;
}

.score-result {
    font-size: 1.75em;
}

.login-page img {
    width: auto;
    height: 80%;
}

.login-form .input-button {
    width: 12%;
    margin-top: 1em;
}